body {
    height: 100%;
    margin: 0px;
}

.video-wrapper {

    overflow: hidden;

}

.video-wrapper video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;



}





width: auto;
height: auto;
